<div class="page-wrap">
  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="sidebar-section">
      <div class="sidebar-title">Categories</div>
      @for (item of Category(); track item.id) {
        <div class="category-item">
        <label><input type="checkbox" [checked]="CategoryId() === item.id" (change)="getCategory(item.id)"/> {{item.name}}</label>
        <span class="category-count">{{item.productCount}}</span>
      </div>
      }
      
      
      
      <!-- <div class="category-item">
        <label><input type="checkbox" [checked]="CategoryId() === 2" (change)="getCategory(2)"/> Smartphones</label>
        <span class="category-count">8</span>
      </div>
      <div class="category-item">
        <label><input type="checkbox" [checked]="CategoryId() === 3" (change)="getCategory(3)"/> Tablets</label>
        <span class="category-count">6</span>
      </div>
      <div class="category-item">
        <label><input type="checkbox" [checked]="CategoryId() === 4" (change)="getCategory(4)"/> Keyboards & Mice</label>
        <span class="category-count">9</span>
      </div>
      <div class="category-item">
        <label><input type="checkbox" [checked]="CategoryId() === 5" (change)="getCategory(5)"/> Headphones & Audio</label>
        <span class="category-count">5</span>
      </div> -->
    </div>

    <!-- Min Rating Section -->
    <div class="sidebar-section">
      <div class="sidebar-title">Min Rating</div>
      <div class="rating-row"(click)="getRating(5)">
        <span class="stars">★★★★★</span>
        <span class="rating-label">5 stars</span>
      </div>
      <div class="rating-row"(click)="getRating(4)">
        <span class="stars">★★★★</span><span class="stars" style="opacity: 0.25">★</span>
        <span class="rating-label">4 & up</span>
      </div>
      <div class="rating-row"(click)="getRating(3)">
        <span class="stars">★★★</span><span class="stars" style="opacity: 0.25">★★</span>
        <span class="rating-label">3 & up</span>
      </div>
      <div class="rating-row"(click)="getRating(2)">
        <span class="stars">★★</span><span class="stars" style="opacity: 0.25">★★★</span>
        <span class="rating-label">2 & up</span>
      </div>
      <div class="rating-row" (click)="getRating(1)">
        <span class="stars">★</span><span class="stars" style="opacity: 0.25">★★★</span>
        <span class="rating-label">1 & up</span>
      </div>
    </div>

  
    <div class="sidebar-section">
      <div class="sidebar-title">Price Range</div>
      <form class="price-row" #PriceRange="ngForm">
        <span>$</span>
        <input type="number" placeholder="Min" #MinPrice  (input)="autoSubmitPriceRange(MinPrice.value,this.MaxPriceSignal())"/>
        <span>-</span>
        <input type="number" #MaxPrice (input)="autoSubmitPriceRange(this.MinPriceSignal(),MaxPrice.value)" placeholder="Max" />
      </form>
    </div>

  
    <div class="sidebar-section">
      <div class="sidebar-title">Brand</div>
      <input type="text" class="brand-search" #BrandNameInput placeholder="Search brand..." (input)="getBrandName(BrandNameInput.value)"/>
    </div>

    <!-- Availability Section -->
    <div class="sidebar-section">
      <div class="sidebar-title">Availability</div>
      <label class="avail-label"> <input type="checkbox" [checked]="inStockValue() === true" (change)="getStockStatus(true)"/> In Stock </label>
      <label class="avail-label">
        <input type="checkbox" [checked]="inStockValue() === false" (change)="getStockStatus(false)"> Out of Stock
      </label>
      <button class="clear-btn">Clear All</button>
    </div>
  </aside>

  <!-- MAIN CONTENT -->
  <main class="main">
    
    <div class="main-header">
      <div class="search-bar">
       <button type="submit"> <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.35-4.35"></path>
        </svg></button>
        <input type="text" placeholder="Search products..." #Search (input)="getSearch(Search.value)" value="{{SearchSignal()}}"/>
      </div>
      <div class="header-right">
        <span class="view-count">{{TotalProductsSignal()}} Products</span>
        <select class="sort-select" #SortByselect (change)="getSortBy(SortByselect.value)">
          <option disabled selected>Sort By</option>
          <option value="Newest | true">Newest</option>
          <option value="price | false">Price: Low to High</option>
          <option value="price | true">Price: High to Low</option>
          <option value="rating | true">Best Rating</option>
          <option value="name | false">Name: A-Z</option>
        </select>
      </div>
    </div>

    <div class="product-grid">
      @if (productsList()) {
        @for (item of productsList().data.items; track item.id) {
          <div class="product-card">
            @if (item.stock >= 1) {
              <div class="product-img-placeholder">
                <button class="favorite-btn" type="button" aria-label="Add to favorites" (click)="addFavorite(item.id)">
                  <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M20.8 4.6a5.5 5.5 0 0 0-7.8 0L12 5.6l-1-1a5.5 5.5 0 0 0-7.8 7.8l1 1L12 21l7.8-7.6 1-1a5.5 5.5 0 0 0 0-7.8z"></path>
                  </svg>
                </button>
                <img src="{{ item.imageUrl }}" alt="{{ item.name }}" />
              </div>
            } @else {
              <div class="product-img-placeholder sold-out">
                <button class="favorite-btn" type="button" aria-label="Add to favorites" (click)="addFavorite(item.id)">
                  <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M20.8 4.6a5.5 5.5 0 0 0-7.8 0L12 5.6l-1-1a5.5 5.5 0 0 0-7.8 7.8l1 1L12 21l7.8-7.6 1-1a5.5 5.5 0 0 0 0-7.8z"></path>
                  </svg>
                </button>
                <img src="{{ item.imageUrl }}" alt="{{ item.name }}" />
                <div class="sold-out-badge">Sold Out</div>
                <div class="sold-overlay"><span>Sold Out</span></div>
              </div>
            }

            <div class="product-info">
              <div class="product-tags">
                <span class="tag">{{ item.category.name }}</span>
              </div>
              <h3 class="product-name">{{ item.name }}</h3>
              <div class="product-stars">
                <span class="star-filled">{{ item.rating | ratingStars }}</span>

                <span class="review-count"> ( {{ item.rating }} ) </span>
              </div>
              <div class="product-footer">
                <div class="product-price">{{ item.price }}$</div>
                @if (item.stock >= 1) {
                  <button class="add-btn" (click)="addToCart(item.id)">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                      <circle cx="9" cy="21" r="1"></circle>
                      <circle cx="20" cy="21" r="1"></circle>
                      <path
                        d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
                      ></path>
                    </svg>
                    Add to Cart
                  </button>
                } @else {
                  <button class="out-btn">Out of Stock</button>
                }
              </div>
            </div>
          </div>
        }
      }
    </div>

    <div class="pagination">
      <button class="page-btn arrow" (click)="getProductsPreviousPage()">◀</button>
      @for (button of pages; track button) {
        <button
          class="page-btn active"
          (click)="getProducts(button, this.take)"
          [class.active]="page === button"
        >
          {{ button }}
        </button>
      }

      <button class="page-btn arrow" (click)="getProductsNextPage()">▶</button>

      <select class="per-page" #perPageselect (change)="getTakeCount(perPageselect.value)">
        <option value="12">12 per page</option>
        <option value="24">24 per page</option>
        <option value="36">36 per page</option>
      </select>
      
    </div>
  </main>
</div>
